﻿.swagger-ui .topbar {
    background: #111;
}

.swagger-ui label {
    color: white;
    /* border: 1px solid black; */
}

.swagger-ui .topbar .download-url-wrapper .select-label select {
    border: 2px solid #ffffff;
}

.swagger-ui .opblock-tag {
    font-size: 18px;
}

.swagger-ui .opblock .opblock-summary-operation-id, .swagger-ui .opblock .opblock-summary-path, .swagger-ui .opblock .opblock-summary-path__deprecated {
    font-size: 12px;
}

.swagger-ui .opblock .opblock-summary-description {
    font-size: 12px;
    text-align: right;
    padding-right: 5px;
}

.swagger-ui table tbody tr td:first-of-type {
    padding: 0;
}

.swagger-ui .parameter__name {
    font-size: 12px;
}

.swagger-ui table tbody tr td {
    padding: 0;
    font-size: 12px;
}


.parameters-col_description > .markdown {
    font-size: 14px !important;
}

    .parameters-col_description > .markdown > p {
        margin: 0 !important;
        padding: 0 !important;
    }

.parameter__name {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 14px !important;
}

.body-param-options > label > span {
    color: red !important;
}
